# PORT=3000

# SUPABASE_URL=https://vkulqpaffufcxvlrtnzk.supabase.co/rest/v1/
# SUPABASE_SERVICE_ROLE_KEY=KEY

# CRON_SECRET=KEY

# INE_BASE_URL=https://demo.inelabteamdev.com

SCHEDULER_SECRET=super_secret_cron_key